body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 16px 200px;
    background-color: #1f2937;
}

.header {
    display: flex;
    padding: 100px 200px;
    background-color: #1f2937;
    gap: 24px;
}

.hero .main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero .secondary, a {
    color: #e5e7eb;
    font-size: 18px;
}

.gang-pic {
    width: 50%;
    height: auto;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 24px
}

a {
    text-decoration: none;
}