body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0px 200px;
    background-color: #1f2937;
}



ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 24px
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

